<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand monospaced-font" href="#">EverLearn</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <i class="fa fa-search fa-hx text-white mx-3"></i>
    </li>
    <li class="nav-item">
      <i class="fa fa-bell-o fa-hx text-white mx-3"></i>
    </li>
    <li class="nav-item">
      <i class="fa fa-user-circle-o fa-hx text-white mx-3"></i>
    </li>
    <li class="nav-item">
      <i class="fa fa-ellipsis-v fa-hx text-white ml-3"></i>
    </li>
  </ul>
</nav>
